div{
    background-color: rgb(178, 51, 210); 
    border-radius: 20px;
    padding: 15px;
}
#n{
    background-color: chartreuse;
    padding: 10%;
}
.m{color: blue;
    text-decoration-color: rgb(53, 142, 142);
    border-style: double;
    margin-bottom: 5px;
    width: fit-content;
}